@model IEnumerable<Hovedopgave.Models.Ticket>

@{
    ViewData["Title"] = "Lukkede sager";
}

<h1>Lukkede sager</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsFinished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdated)
            </th>
            <th>
                Muligheder
            </th>
            <th>
                Åben/Luk Sag
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(item.IsFinished ? "Lukket" : "Åben")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdated)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Rediger</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Slet</a>
                </td>
                <td>
                    <a asp-action="ChangeStatus" asp-route-id="@item.Id">
                        <button class="btn btn-secondary">Ændre status</button>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>



