@model IEnumerable<Hovedopgave.Models.Ticket>

@{
    ViewData["Title"] = "Mine sager";
}

<h1>Mine sager</h1>

<p>
    <button class="btn btn-primary" onclick="window.location.href = '/Tickets/Create'">Opret ny</button>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsFinished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Station.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdated)
            </th>
            <th>
                Muligheder
            </th>
            <th>
                Åben/Luk sag
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="window.location.href='@Url.Action("Details","Tickets", new { id = item.Id })'" style="cursor:pointer">
                <td>
                    @(item.IsFinished ? "Lukket" : "Åben")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Station.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriorityDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdated)
                </td>
                <td>
                <div class="d-flex">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary me-2">Rediger</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Slet</a>
                </div>
                </td>
                <td>
                    <a asp-action="ChangeStatus" asp-route-id="@item.Id">
                        <button class="btn btn-outline-danger">Ændre status</button>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>




